.productsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
    background-color: #F2F2F2;
    height: 80vh;
    overflow-y: auto;
}
@media screen and (max-width: 768px) {
    .productsContainer{
        justify-content: center;
    }
}