.containerImage{
    /* border: 1px solid red; */
    width: 13rem;
    height: 22vh;
    position: relative;
    overflow: hidden;
}
.containerImage img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}