.containerImage{
    /* border: 1px solid red; */
    width: 13rem;
    height: 13rem;
    position: relative;
    overflow: hidden;
}
.containerImage img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.containerImageModal{
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    position: relative;
}
.containerimageModal img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}