:root{
    --speed: 0.5s;
}
.containerTop{
    background-color: #85A0F2;
    display: flex;
    flex-direction: row;
    min-height: 8vh;
    align-items: center;
    padding: 0rem 1.5rem;
}
.logo{
    width: 10vw;
    text-align: -webkit-center;
}
.logo img{
    max-height: 8vh;
}
.searchBar{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
}
.cart{
    width: 10vw;
    text-align: -webkit-center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.list{
    width: 10vw;
    text-align: -webkit-center;
    cursor: pointer;
}
.icon{
    font-size: 1.5rem;
    color: #F2F2F2;
    margin-left: 15px;
}
.icon :hover{
    color: #F2E313;
}
.input{
    width: 20rem;
    height: 2rem;
    padding-left: 10px;
}
.inputClear{
    height: 2rem;
    width: 2rem;
    background-color: #F2F2F2;
}
.quantity{
    width: 10vw;
    text-align: -webkit-center;
    display: flex;
    justify-content: right;
}
.quantity h3{
    color: #F2F2F2;
    font-weight: 600;
    background-color: #F2622E;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.containerBottom{
    background-color: #85A0F2;
    display: flex;
    flex-direction: row;
    min-height: 5vh;
    align-items: center;
    padding: 0rem 1.5rem;
    justify-content: flex-end;
}
.nameUser{
    color: #F2F2F2;
}
.menu{
    width: 9vw;
    cursor: pointer;
}
.dropdownMenu{
    position: absolute;
    top: 13vh;
    right: 6vw;
    background-color: #FFF;
    border-radius: 15px;
    padding: 10px 20px;
    width: 12rem;
    /* border: 1px solid #F2F2F2; */
    border: 1px solid #85A0F2;
}
.dropdownMenu::before{
    content: '';
    position: absolute;
    top: -5px;
}
.dropdownMenu img{
    max-width: 20px;
    opacity: 0.5;
}

.active{
   opacity: 1; 
   visibility: visible;
   transform: translateY(0);
   transition: var(--speed) ease;
}
.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdownItem{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.dropdownItem a:hover{
    color: #F2622E;
}

@media screen and (max-width: 768px) {
    .container{
        padding: 0rem .5rem;
    }
    .input{
        width: 10rem;
    }
    .icon{
        margin-left: 5px;
    }
    .logo {
        display: none;
    }
}