.container{
    background-color: #85A0F2;
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    align-items: center;
    padding: 0rem 1.5rem;
}
.logo{
    width: 10vw;
    text-align: -webkit-center;
}
.searchBar{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
}
.cart{
    width: 10vw;
    text-align: -webkit-center;
    display: flex;
    flex-direction: row;
}
.cart h3{
    color: #F2F2F2;
    font-weight: 600;
    background-color: #F2622E;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.list{
    width: 10vw;
    text-align: -webkit-center;
}
.icon{
    font-size: 1.5rem;
    color: #F2F2F2;
    margin-left: 15px;
}
.icon :hover{
    color: #F2E313;
}
.input{
    width: 20rem;
    height: 2rem;
    padding-left: 10px;
}
.inputClear{
    height: 2rem;
    width: 2rem;
    background-color: #F2F2F2;
}
