.container{
    /* border: 1px solid red; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 1.5rem;
}
.containerTop{
    display: flex;
    /* border: 1px solid blue; */
    /* height: 10vh; */
    font-size: 2rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.containerBottom{
    /* border: 1px solid green; */
    height: 70vh;
    display: flex;
    flex-direction: row;
}
.left{
    /* border: 1px solid goldenrod; */
    width: 70vw;
    padding: 1rem;
    overflow-y: auto;
}
.right{
    /* border: 1px solid violet; */
    width: 30vw;
    padding: 1rem;
}
.containerResume{
    border: 1px solid rgb(148 163 184);
    padding: 5px 10px;
    /* background: linear-gradient(to bottom, #ffcc00, #ff6600); */
    background: linear-gradient(45deg, white, #F2F2F2,white);
}
.resumeTitle h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.resumeProduct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.resumeProduct h3{
    padding-top: 1rem;
    font-size: 1rem;
    text-align: center;
}
.resumeOtros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.resumeTotal{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 600;
    align-items: center;
}

.resumeButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
    gap: 5px;
}

.clear button{
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
    font-weight: 600;
}
.clear button:hover{
    background-color: #F2622E;
}
.comprar button{
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
    font-weight: 600;
}
.comprar button:hover{
    background-color: #F2622E;
}
.modal h1{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.modal h3{
    font-size: 1.2rem;
}
.modal li{
    font-style: italic;
    padding-left: 1rem;
}
.modal img{
    width: 50px;
    height: 50px;
}
.modalDescription{
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
.modalDescription h3{
    font-size: 1.1rem;
    font-style: italic;
}
.iconContainer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.icon{
    font-size: 3rem;
}
.buttonCenter{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.buttonCenter button{
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
    font-weight: 600;
}