.container{
    border: 1px solid rgb(148 163 184);
    height: auto;
    display: flex;
    flex-direction: row;
    /* margin: 15px; */
    margin-bottom: 15px;
    background: linear-gradient(45deg, white, #F2F2F2,white);
}
.image{
    /* border: 1px solid blue; */
    width: 20%;
    position: relative;
    overflow: hidden;    
}
.image img{
    position: absolute;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    object-fit: cover;
}

.info{
    /* border: 1px solid green; */
    width: 55%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titleInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
}
.descriptionContainer h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.actionLink{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content:right;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    /* padding-top: 1rem; */
}
.buttonAction{
    /* border: 1px solid gray; */
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
    font-weight: 600;
}

.buttonAction:hover{
    background-color: #F2622E;
}
.subtotal{
    /* border: 1px solid orchid; */
    border-left: 1px solid rgb(148 163 184);
    width: 25%;
    padding: 5px 20px;
    
}
.cantidad{
    display: flex;
    flex-direction: row;
}
.iconSuma{
    /* border: 1px solid blue; */
    width: 25%;
    text-align: center;
}
.count{
    border: 1px solid grey;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.iconResta{
    /* border: 1px solid blue; */
    width: 25%;
    text-align: center;
}
.buttons{
    /* border: 1px solid black; */
    width: 3vw;
    color: #F2F2F2;
    font-weight: 700;
    font-size:larger;
    background-color: #F2622E;
}
.monto{
    /* border: 1px solid grey; */
    text-align: center;
}

@media screen and (max-width: 768px) {
    .subtotal{
        padding: 5px 2px;
    }
    .cantidad{
        justify-content: center;
    }
    .iconSuma{
        /* border: 1px solid blue; */
        width: 30%;
    }
    .iconResta{
        width: 30%;
    }
    .buttons{
        /* border: 1px solid black; */
        width: 6vw;
    }
}